.todoItem {
    background-color: white;
    padding: 16px;
    display: grid;
    grid-template-columns: 25px 1fr;
    align-items: center;
    gap: 10px;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, 0.2);
    border-top: 1px solid #E6E6E6;
}

.text {
    font-size: 24px;
    color: #515151;
}

.completed {
    text-decoration: line-through;
    color: #D9D9D9;
}